@font-face{
    font-family: 'coca-cola';
    src: url('CocaCola.woff');
}

html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img[src="images/master.png"]{
    height: 200px;
}

.paige{
    font-family: 'coca-cola';
    text-align: center;
    margin-right: 20px;
}

.paige-size{
    height: 100vh;
    width: 100%;
    text-align: center;
    line-height: 1rem;
}

.first{
    background-image: url(images/bg-1.jpg);
}

.first-name{
    font: 40px 'coca-cola';
    color: yellow;
    text-align: center;
}

.first-text{
    color:white;
}

.second{
    background: radial-gradient( #ffffff,  #18577B);
}

.second-name{
    font: 40px 'coca-cola';
    color:goldenrod;
    text-align: center;
}

.third{
    background-image: url(images/bg-3.jpg);
}

.table{
    width: 150px;
    height: 150px;
    border-spacing: 0;
}

tr:first-child td:first-child{
    border-radius:10px 0px 0px 0px;
    border: 2px solid rebeccapurple;
}

tr:first-child td:last-child{
    border-radius: 0 10px 0 0;
    border: 2px solid rebeccapurple;
}

tr:last-child td:first-child{
    border-radius: 0 0 0 10px;
    border: 2px solid rebeccapurple; 
}

tr:last-child td:last-child{
    border-radius: 0 0 10px 0;
    border: 2px solid rebeccapurple;
}

.menu li{
    display: inline-block;
    margin-left: -5px;
}

.menu{
    text-align: left;
    list-style-position: outside;
    background-color: rgba(53, 58, 58, 0.425);
    list-style-type: none;
    margin: 0px;
    padding-left: 5px;
}

.menu li:first-child {
    background-color: grey;
    border-radius: 10px;  
}

.menu li a{
    display: inline-block;    
    padding: 20px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: grey; 
    border-radius: 10px; 
}

.conteiner{
margin: 0 auto;
width: 90%;
}

.border{
    border: 2px solid rgba(163, 84, 84, 0.116);
    border-radius: 10px;
}

.margin{
    margin-top: 5px;
}