.modal{
    position: fixed;
    display: none;
    border: 2px solid rebeccapurple;
    border-radius: 15px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: orange;
    padding-top: 20px;
}

.closeModal, .mask{
    cursor: pointer;
}

.closeModal{
    padding: 20px;
}

.mask{
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65)
}