@font-face{
    font-family:'one';
    src: url('../fonts/efn-handy.otf');
}

@font-face{
    font-family:'two';
    src: url('../fonts/pattaya-regular.ttf');
}

html, body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font: 1.5rem 'one';
    color: goldenrod;
}

h2 {
    text-transform: capitalize;
    letter-spacing: 5px;
    font: 1.5rem 'two';
    color: goldenrod;
}

img{
    height: 200px;
}

div {
    text-align: center;
}

a{
    text-decoration: none;
}

ol{
    text-transform: capitalize;
}

table{
    text-align: center;
}

th{
    background-color: darkgray;
    color: #ffffff;
    font-style: italic;
}